<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
      defer
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="js/main.js" defer></script>
    <script src="js/main_vue.js" defer></script>
    <link href="./css/main.css" type="text/css" rel="stylesheet" />
    <title>Xanonymous學長</title>
  </head>
  <body>
    <div id="base" class="base flex">
      <div id="left" class="left flex_a">
        <div id="my_personal_img" class="my_personal_img">
          <img
            src="https://avatars2.githubusercontent.com/u/47718989?s=460&v=4"
            alt="Xanonymous"
            style="border-radius:10px;"
            id="my_photo"
          />
          <span class="my_status">
            <img
              class="my_icon"
              src="https://github.githubassets.com/images/icons/emoji/octocat.png"
              alt=""
            />
            {{ my_status }}</span
          >
        </div>
      </div>
      <div id="right" class="right flex_b">
        <h1 class="main-title">
          {{ title }}
        </h1>
        <div class="mx-2 my-3 to_do_list_title">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="請輸入待辦項目"
              aria-label="請輸入待辦項目"
              aria-describedby="button-addon2"
              id="input_area"
            />
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="new_item">
                新增
              </button>
            </div>
          </div>
        </div>
        <div id="to_do_list_container">

          <!-- <div
            class="mx-2 my-2 to_do_list_title"
            style="word-break: break-all;"
          >
            <div class="row w-100">
              <div class="col-10">
                <input type="checkbox" checked />Xanonymous
              </div>
              <div class="col-2 p-0 text-right">
                <button class="btn btn-danger" style="white-space: nowrap;"> Del </button>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </body>
</html>
